# Gradle
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Kotlin
.kotlin/
*.kotlin_module

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
local.properties

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# iOS
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.moved-aside
*.xccheckout
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
*.pbxproj.backup

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log

# Misc
*.log
*.swp
*.bak
*~
